---
- hosts: my_servers
  gather_facts: no

  tasks:
    - block:
        - name: Reboot
          become: true
          become_method: runas
          become_user: Administrator
          ansible.windows.win_reboot:
            reboot_timeout: 600

      rescue:
        - name: Playbook failed - exporting Semaphore UI log anyway
          ansible.builtin.debug:
            msg: "Playbook failed - exporting Semaphore UI log anyway."

      always:
        - name: Export Semaphore UI log
          ansible.builtin.include_tasks: "../task/export_semaphore_ui_txt.yml"
          vars:
            playbook_name_for_report: "0000Rename"
            semaphore_project_id: "4"
